name: Build and upload to itch.io Mac

on:
  push:
    branches:
      - master

jobs:
  itchio-deploy:
    runs-on: macos-12

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Install Node.js, NPM
        uses: actions/setup-node@v2
        with:
          node-version: "16.x"

      - name: Install libraries
        run: npm i

      - name: Build app
        run: npm run build:mac

      - name: Set up butler
        uses: jdno/setup-butler@v1
        with:
          version: latest

      - name: Push to itch.io
        run: sh entrypoint
        env:
          BUTLER_CREDENTIALS: ${{ secrets.ITCH_API_KEY }}
          CHANNEL: osx
          ITCH_GAME: unfurl
          ITCH_USER: hit-box38
          PACKAGE: release/Unfurl-Mac-Installer.dmg
